
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
        /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
    
    /*VARIABLES */
:root {
    --button-color: #FF6565;
    
    --font-path-regular: 'fonts/SourceSansPro-Regular.otf';
    
    --font-weight-bold: 700;
}
/* ******** */
body {
    padding: 0px;
    margin: 0px;
}
header {
    margin: 0 auto;
    height: 800px;
    border: 1px solid #979797;
    background: #D8D8D8;
    background-image: url('./1-images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    width: 80%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

nav div.logo {
    padding: 10px 0px;
}
nav div ul li{
    display: inline-block;
    padding: 0px 10px;
    color: white;
}
nav div ul li:hover{
    color: #FF6565;
    cursor: pointer;
}

.header-content {
    text-align: center;
    margin: 320px auto 0 auto;
    color: white;
    height: 313px;
    width: 637px;

}
.header-content h1 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-content p {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-content button {
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FF6565;
    color: white;
    margin: 40px auto 65px auto;
    cursor: pointer;
}
.header-content .hader-p {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}