body {
    padding: 0px;
    margin: 0px;
}
header {
    margin: 0 auto;
    height: 800px;
    border: 1px solid #979797;
    background: #D8D8D8;
    background-image: url('./1-images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    width: 80%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

nav div.logo {
    padding: 10px 0px;
}
nav div ul li{
    display: inline-block;
    padding: 0px 10px;
    color: white;
}
nav div ul li:hover{
    color: #FF6565;
    cursor: pointer;
}

.header-content {
    text-align: center;
    margin: 320px auto 0 auto;
    color: white;
    height: 313px;
    width: 637px;

}
.header-content h1 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-content p {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-content button {
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FF6565;
    color: white;
    margin: 40px auto 65px auto;
    cursor: pointer;
}
.header-content .hader-p {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.section-1 {
    height: 650px;
    margin: 0%;
    padding: 0%;
    background: #FFF;    
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.section-1 .div-1  {
    display: flex;
    width: 637px;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 110px auto 40px auto;
}
.section-1 div h3 {
    color: #071629;
    text-align: center;
    font-family: SourceSansPro;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section-1 .div-1 p {
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.div-do-2 {
    display: flex;
    height: 190px;
    width: 80%;
    margin: auto;
}
.div-do-item {
    width: 207px;
    height: 180px;
    flex-shrink: 0;
    margin: 0 auto;
}
.div-do-item h5 {
    color: #071629;
    text-align: center;
    font-family: SourceSansPro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
}
.div-do-item p {
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}
@media screen and (max-width: 800px) {
    .div-do-2 {
        flex-wrap: wrap;
        height: auto;
    }
    
}
.section-2 {
    height: 650px;
    margin: 0%;
    padding: 0%;
    background: #D8D8D8;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
/* section {
    margin: 0%;
    padding: 0%;
    
} */
.section-2 h3  {
    display:inline-block;
    color: #FFF;
    text-align: center;
    font-family: SourceSansPro;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 141px;
}
